extends layout

block body
  div.post-nav.top
    if (prev)
      a.prev(href=prev.url)= 'Prev: ' + prev.title

    if (next)
      a.next(href=next.url)= 'Next: ' + next.title

  h1.post-title= title
  p.byline= 'Posted by Jason Rhodes on ' + bylineDate
  div.container.post-container
    != content

  div.post-nav.bottom
    if (prev)
      a.prev(href=prev.url)= 'Prev: ' + prev.title
    
    if (next)
      a.next(href=next.url)= 'Next: ' + next.title

  script.
    var disqus_title = '#{title}'

  div.comments
    p.comments-intro
      em Warning: Comments ahead. I'll delete comments that I think are shitty and will close comments whenever I think it's getting stupid. Thanks!
    include includes/disqus.html