extends ./default.jade

block page_title
  title= title + " | a site with stuff"

block content
  if (headerbg)
    style='.site-header { background-color: #' + headerbg + '; }'
  time= date
  h1= title
  p= "By "
    a(href="/about.html")= "Jason"
  div!= contents